#HW_imple/conv*
#HW_imple/v++*
HW_imple/*.log
HW_imple/_x
HW_imple/_x/*
HW_imple/_x/**
HW_emu/*.log
HW_emu/_x
HW_emu/_x/*
HW_emu/_x/**
solution1/*
solution1/**
solution2/*
solution2/**
solution*/*
solution*/**
