.run
.Xil
build.*
log.*
*.o
*.xo
*.xo.compile_summary
*.xclbin
*.xclbin.info
*.xclbin.compile_summary
*.xclbin.link_summary
*.run_summary
*.log
xilinx_u200_xdma_201830_2-0-accelerator.*.*
emconfig.json
profile_summary.csv
timeline_trace.csv
timeline_kernels.csv
profile_kernels.csv
vitis_analyzer.jou
print_log_tb.txt

case_*/testbench
case_*/.run
case_*/.Xil
case_*/build.*
case_*/log.*
case_*/*.o
case_*/*.xo
case_*/*.xo.compile_summary
case_*/*.xclbin
case_*/*.xclbin.info
case_*/*.xclbin.compile_summary
case_*/*.xclbin.link_summary
case_*/*.run_summary
case_*/*.log
case_*/xilinx_u200_xdma_201830_2-0-accelerator.*.*
case_*/emconfig.json
case_*/profile_summary.csv
case_*/timeline_trace.csv
case_*/timeline_kernels.csv
case_*/profile_kernels.csv
case_*/vitis_analyzer.jou
case_*/print_log_tb.txt
