#HW_imple/conv*
#HW_imple/v++*
HW_*/*.log
HW_*/*.wdb
HW_*/_x
HW_*/_x/*
HW_*/_x/**
HW_*/.*
HW_*/*.xclbin
#HW_*/*
HW_measure_bram/*/*.log
HW_measure_bram/*/*.wdb
HW_measure_bram/*/_x
HW_measure_bram/*/_x/*
HW_measure_bram/*/_x/**
HW_measure_bram/*/.*
HW_measure_bram/*/*.xclbin
HW_imple/*.log
HW_imple/*.wdb
HW_imple/_x
HW_imple/_x/*
HW_imple/_x/**
HW_imple/.*
HW_emu/*.log
HW_emu/*.wdb
HW_emu/_x
HW_emu/_x/*
HW_emu/_x/**
HW_emu/.*
HW_emu*/*.log
HW_emu*/*.wdb
HW_emu*/_x
HW_emu*/_x/*
HW_emu*/_x/**
HW_emu*/.*
solution1/*
solution1/**
solution2/*
solution2/**
solution*/*
solution*/**
